/** es.1 _custom.scss**/
// incluso in style.scss e in style.scss
.d-block {
  display: block;
}

/** es.2  _custom.scss**/

// mixin definiti sempre prima dell'uso
@mixin color {
  color: $textColor;
  background-color: currentColor;
}

@mixin layout($position: null, $padding: null, $margin: null) {
  position: $position;
  margin: $margin;
  padding: $padding;
}


$textColor: blue;
.colors {
  @include color;
}
