
/** es.1  style.scss**/
// nota che .d-block presente in _custom.scss viene "importato" nel compilato una sola volta
//  usando @import invece viene importato piu volte

// @import 'custom';
// @import 'theme.scss';
@use 'theme';
@use 'custom';

.d-inline {
    display: inline;
}


@function calcCol($colsNumber: 1) {
    $colWidth: 20px;
    $colresult: $colWidth * $colsNumber; 
    @if ($colresult > 200px) {
        @return 200px;
    };
    @return $colresult;
}
$cc: calcCol(9.8);
@debug $cc;


 @import 'lists-example';
@import 'map-example';